body{
   font-family: "aktiv-grotesk-std",sans-serif;
   font-style: normal;
   font-weight: 200;
   text-rendering: optimizeLegibility;
   padding: 2em 7em;
   /*background-image: url('../img/background.jpg');*/
}

/* heading for green surface*/
h1{
   font-size: 80px;
   font-weight: bold;
   font-family: "aktiv-grotesk-std",sans-serif;
   text-align: center;
   margin-top: 0em;
   margin-bottom: 0em;
}

.center{
 text-align: center;
}

/* Add a white background color to the top navigation */
.topnav {
   background-color: #ffff;
   overflow: hidden;
   position: sticky;
   top: 0em;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #000000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #04AA6D;
   color: white;
 }




p.half {
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}


.subtitle{
  font-size: 40px;
  margin-top: 0em;
  margin-bottom: 0em;
}

.subsub{
  font-size: 14px;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

 
 footer {
   height: 5em;
   background: #eee;
   text-align: center;
   bottom: 0%; 
 }
 .foot{
   font-size: 18px;
 }
 .foot a{
   color: #000000;
   font-weight: bold;
   text-decoration: none;
 }
 .foot a:hover{
   text-decoration: inherit;
   color: #04AA6D;
 }


