body{
    /* font-family: "aktiv-grotesk-std",sans-serif; */
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    padding: 2em 7em;
    background-color: #9ce156;
    /*background-image: url('../img/bg4.jpg');*/
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* heading for green surface*/
h1{
    font-size: 85px;
    font-weight: bold;
    color: #04AA6D;
    /*background-color: #a8a8a8;*/
/*     font-family: "aktiv-grotesk-std",sans-serif; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}

.center{
  text-align: center;
}

/* Add a white background color to the top navigation */
  .topnav {
    background-color: #ffff;
    overflow: hidden;
    position: sticky;
    top: 0.5em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  
  footer {
    height: 5em;
    background: rgb(255, 255, 255);
    text-align: center;
    bottom: 0%; 
  }
  
  .foot{
    font-size: 18px;
  }
  .foot a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }
  .foot a:hover{
    text-decoration: inherit;
    color: #04AA6D;
  }

  .subtitle{
    font-size: 40px;
    margin-top: 0em;
    margin-bottom: 0em;
    color: black;
    font-weight: bolder;
  }

  .subsub{
    font-weight: bold;
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 0em;
  }

  .info{
    background:#fff194be;
    border-radius: 2%;
    padding: 2em 2em;
    font-size: 20px;
  }
  .infosub{
    font-size: 27px; 
    padding: 0em; 
    margin: 0%; 
    margin-bottom: 0.5em; 
    font-style: italic;
  }



  /*image grid*/
  .image-list-small {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    padding: 0;
  }
  
  .image-list-small li {
    display: inline-block;
    width: 300px;
    margin: 0 12px 30px;
  }
  
  /* images */
  .image-list-small li > img {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    border-radius: 50%;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
  }
  
  /* caption */
  .image-list-small .caption {
    display: block;
    font-size: 20px;
    margin-top: 50px;
    margin: 0;
    text-align: center;
  }

  .info-grid {
    margin: auto;
    text-align: center;
    max-width: 1100px;
    height: 600px;
    padding: 3em 3em;
  }

  /* images */
  .info-grid img {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    border-radius: 25%;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
  }

  .info-grid .info-grid-text {
    display: block;
    height: 450px;
    max-width: 500px;
    font-size: 20px;
    margin-top: 13px;
    margin: 0;
    text-align: center;
  }
  
  .leftf{
    float: left;
    border-radius: 50%;
  }

  img .leftf{
    border-image: 5px solid;
  }

  .rightf{
    float: right;
    border-radius: 50%;
  }


input[type=submit] {
  background: #04AA6D;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  margin: 1em;
  width: fit-content;
  border: 0;
}
