body{
    font-family: "aktiv-grotesk-std",sans-serif;
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    padding: 1em 10em;
}

h1{
    font-size: 80px;
    font-family: "aktiv-grotesk-std",sans-serif;
    text-align: center;
}